.file-menu-container {
    height: 100vh;
    width: 275px;
    padding: 4px;
    /* background-color: #D9D9D9; */
    background-color: #252526;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    position: relative;
    /* border: solid red 1px; */
}

.file-menu-title {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    /* border: solid red 1px; */
}

.file-menu-item-title {
    height: 18px;
}

.file-menu-list {
    flex-grow: 1;
    height: 1px;
    width: 100%;
    padding: 0 16px;
    /* background-clip: content-box; */
    border-radius: 4px;
    /* border: solid red 1px; */
}

.file-menu-item {
    /* position: relative; */
    cursor: pointer;
    border-radius: 4px;
}

.file-menu-name-container {
    display: flex;
    align-items: center;
    position: relative;
    height: 36px;
    border-radius: 4px;
}

.file-menu-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.file-menu-dots {
    margin-right: 10px;
}

.file-menu-folder {
    position: relative;
}

.file-menu-vertical-line {
    position: absolute;
    background-color: black;
    opacity: 10%;
    height: 100%;
    width: 1px;
    top: 0;
    left: 6.5%;
}

.file-menu-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    cursor: text
}

.file-menu-error-container {
    width: 100%;
    flex-grow: 1;
    position: relative;
}

.file-menu-input {
    all: unset;
    box-sizing: border-box;
    background-color: rgba(158, 158, 158, 0.3);
    font-size: 14px;
    padding-left: 3px;
    width: 100%;
}

.file-menu-error {
    position: absolute;
    border: solid #db1300 1px;
    background-color: #e36b6b;
    width: 100%;
    padding: 4px 6px;
    z-index: 3;
    color: #ffffff;
}

.file-menu-mouse {
    position: absolute;
    z-index: 3;
}

.file-menu-context-menu {
    all: unset;
    position: absolute;
    z-index: 3;
    background-color: #252526;
    border: solid #434343 1px;
    width: 150px;
    /* padding-left: 30px; */
    padding: 10px 30px;
    cursor: default;
}

.file-menu-footer-container {
    padding: 0 16px
}

.file-menu-footer-item {
    display: flex;
    align-items: center;
    gap: 4px;
    padding-bottom: 8px;
    cursor: default;
}