.notes-container {
    position: relative;
    /* border: solid red 1px; */
    height: 100vh;
    width: 1px;
    flex-grow: 1;
    display: flex;
}

.notes-menu-container {
    height: 100%;
    width: 240px;
    padding: 4px;
}

.notes-menu-title {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
}

.notes-menu-item {
    height: 62px;
    width: 100%;
    border-radius: 5px;
    background-color: #e8e8e8;
    margin: 4px 0;
    padding: 0px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.note-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;    
    font-weight: bold;
}

.note-date {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.note-description {
    opacity: 70%;
}

.notes-right {
    height: 100vh;
    width: 1px;
    flex-grow: 1;
    padding: 4px;
    display: flex;
    flex-direction: column;
}

.notes-bar {
    height: 40px;
    padding: 4px;
    display: flex;
    align-items: center;
}

.notes-bar-icon {
    margin-right: 12px;
    transition: .3s ease;
}

.notes-bar-icon:hover {
    background-color: #eeeeee;
    border-radius: 4px;
}

.tiptap {
    height: 100%;
    width: 100%;
    outline: unset;
}

.tiptap-editor {
    all: unset;
    height: 100px;
    flex-grow: 1;
    /* border: solid red 1px; */
    overflow-y: auto;
    padding: 8px;
}

.tiptap ol {
    padding-left: 20px;
}

.tiptap ul {
    padding-left: 20px;
}