.notes-container {
    position: relative;
    /* border: solid red 1px; */
    height: 100vh;
    width: 1px;
    flex-grow: 1;
    display: flex;
}

.notes-menu-container {
    height: 100%;
    width: 260px;
    display: flex;
    flex-direction: column;
}

.notes-menu-title {
    height: 40px;
    width: 100%;
    padding: 0 18px;
    display: flex;
    align-items: center;
}

.notes-title-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.notes-menu-no-notes {
    height: 1px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #b6b6b6;
}

.notes-menu-list {
    height: 1px;
    flex-grow: 1;
    padding: 12px 14px;
}

.notes-menu-item {
    position: relative;
    height: 62px;
    width: 100%;
    border-radius: 5px;
    padding: 0px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.notes-menu-item-background {
    position: absolute;
    height: 105%;
    width: 98%;
    left: 1%;
    top: -4%;
    border-radius: 5px;
    z-index: -1;
}

.notes-divider {
    opacity: 25%;
    width: 90%;
    margin: 0 auto;
}

.note-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    cursor: default;
}

.note-date {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: default;
}

.note-description {
    opacity: 70%;
}

.notes-right {
    height: 100vh;
    width: 1px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.notes-bar {
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
}

.notes-bar-side-group-1, .notes-bar-side-group-2 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;
}

.notes-bar-side-group-1 {
    padding-left: 0;
}

.notes-bar-middle-group {
    height: 100%;
    min-width: 200px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notes-bar-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border-radius: 4px;
    margin-right: 10px;
    transition: .1s ease;
}

.notes-bar-icon-container:hover {
    background-color: #eeeeee
}

.notes-bar-add-container, .notes-bar-delete-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    margin-right: 8px;
    transition: .1s ease;
}

.notes-bar-add-container:hover, .notes-bar-delete-container:hover{
    background-color: #eeeeee
}

.search-container {
    position: relative;
    width: 100%;
}

.search-icon {
    position: absolute;
    left: 3%;
    top: 10%;
}

.search {
    outline: none;
    height: 26px;
    padding-left: 30px;
    width: 100%;
    border-radius: 4px;
}

.tiptap-container {
    height: 1px;
    flex-grow: 1;
    margin-right: 1px;
}

.tiptap {
    height: 100%;
    width: 100%;
    outline: unset;
    line-height: 1.5;
}

.tiptap-editor-container {
    height: 95%;
}

.tiptap-editor {
    padding: 0 16px 160px;
    caret-color: #749aed;
}

.tiptap p {
    font-size: 15px;
}

.tiptap ol {
    padding-left: 20px;
}

.tiptap ul {
    padding-left: 18px;
}

.tiptap-time {
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    opacity: 60%;
    height: 5%;
    display: flex;
    align-items: center;
}

.system-controls-container {
    position: absolute;
    right: 0;
    top: 0;
    /* border: solid red 1px; */
}