.side-menu-container {
    height: 100vh;
    width: 40px;
    background-color: #444444;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-menu-item {
    margin-top: 12px;
    height: 32px;
}